{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <title>Car List</title>
</head>
<body>
    <h1>Car List</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Year</th>
                <th>Color</th>
                <th>License Plate</th>
                <th>Price</th>
                <th>Availability</th>
            </tr>
        </thead>
        <tbody>
            {% for car in cars %}
            <tr>
                <td>
                    {% for key, value in car_images.items %}
                        {% if car.id == key %}
                            {% for img in value %}
                                <img src="{{ MEDIA_URL }}{{ img }}" class="img-fluid" alt="Car Image" style="max-height: 50px; max-width: 50px;">
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ car.brand }}</td>
                <td>{{ car.model }}</td>
                <td>{{ car.year }}</td>
                <td>{{ car.color }}</td>
                <td>{{ car.license_plate }}</td>
                <td>{{ car.price }}</td>
                <td>{{ car.availability }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
