{% extends "base.html" %}

{% block title %}
    {{ event.name }}
{% endblock title %}

{% block content %}
<div class="sticky-top">
    {% for breadcrumb in breadcrumbs %}
        <span><a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a></span>
        {% if not forloop.last %}
            <span>&raquo;</span>
        {% endif %}
    {% endfor %}
</div>
    <h1>{{ event.name }}</h1>
    <p><strong>Date:</strong> {{ event.date }}</p>

    <h2>Photos:</h2>
    {% for photo in photos %}
        <div>
            <img src="{{ photo.image.url }}" alt="{{ photo.description }}" title="{{ photo.description }}">
        </div>
    {% empty %}
        <p>No photos available.</p>
    {% endfor %}
{% endblock content %}
